* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Paleta Principal */
    --primaria: #6D4AFF;
    --secundaria: #8B5CF6;


    /* Layout Claro */
    --bg-claro: #F6F8FC;
    --bg-card-claro: #FFFFFF;
    --title-claro: #1E293B;
    --txt-prin-claro: #334155;
    --txt-sec-claro: #64748B;

    /* Layout Escuro */

    --bg-escuro: #0D1117;
    --bg-card-escuro: #14182C;
    --title-esc: #F8FAFC;
    --txt-prin-esc: #E2E8F0;
    --txt-sec-esc: #94A3B8;
    --tag: #2c205a;
    --tag-borda: #443677;
    --tag-txt: #cb8dff;
    --card-bg-esc: #161D2E;


    /* Gradientes */
    --gradiente-bg-escuro: linear-gradient(45deg, rgb(10, 19, 59) 19%, rgb(4, 13, 61) 100%);
    --gradiente-bg-destaque: linear-gradient(45deg, #271c42 19%, #350455 100%);
    --gradiente-roxo: linear-gradient(90deg, rgb(67, 19, 126) 19%, rgb(91, 39, 151) 100%);
    --gradiente-verde: linear-gradient(90deg, rgb(3, 58, 20) 19%, rgb(5, 92, 2) 100%);
    --gradiente-laranja: linear-gradient(90deg, rgb(122, 68, 5) 19%, rgb(156, 95, 24) 100%);
    --gradiente-vermelho: linear-gradient(90deg, rgb(126, 0, 0) 19%, rgb(167, 24, 24) 100%);


    /* Bordas */

    --borda-card: 1px solid var(--txt-prin-claro);
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--bg-escuro);
}

.body-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* MENU NAVEGAÇÃO --- JA DEIXEI PREPARADO PARA FUTURAS ATUALIZAÇÕES */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 250px;
    margin: 20px 0;
}

/* TITULO E ICONE --- HERO */

.hero {
    padding: 20px 0;
}

.hero-img {
    height: 100px;
}

.hero-titulos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-mensagem {
    width: 70%;
}

.hero-titulo {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--title-esc);
}

.span-txt {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secundaria);
}

.hero-texto {
    font-size: 0.75rem;
    color: var(--txt-sec-esc);
}

/* FORMULÁRIO */

#titulo-h2 {
    font-size: 1.4rem;
    color: var(--title-esc);
    text-align: center;
}

.icon-title {
    font-size: 1.6rem;
}

.formulario {
    background-color: var(--bg-card-escuro);
    border: var(--borda-card);
    border-radius: 10px;
    padding: 20px 20px;
    color: var(--txt-prin-esc);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-dados {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--txt-sec-esc);
}

.form input,
.form select,
.form option {
    padding: 8px 12px;
    border-radius: 8px;
    width: 100%;
    border: none;
    outline: none;
    transition: all 0.2s;
    background: var(--bg-escuro);
    font-size: 1.125rem;
    color: var(--txt-sec-esc);
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.input-salario {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-escuro);
    border-radius: 8px;
}

.reais {
    font-weight: 500;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px var(--card-bg-esc);
}

.form input:focus,
.form select:focus,
.form option:focus {
    outline: solid 2px var(--secundaria);
    background: var(--tag);
}

.form input::placeholder {
    color: var(--txt-sec-esc);
}


.form-habilidades {
    display: flex;
    gap: 10px;
}

#input-habilidades {
    margin: 0;
}

.tags-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.checkbox-habilidade {
    background: var(--tag);
    color: var(--tag-txt);
    font-weight: bold;
    padding: 5px 10px;
    border: solid 1px var(--tag-borda);
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .03), 0 2px 8px rgba(0, 0, 0, .18);
    cursor: pointer;
}

.checkbox-habilidade input {
    display: none;
}

.checkbox-habilidade:has(input:checked) {
    background: var(--secundaria);
    border: solid 1px var(--tag-txt);
    color: var(--tag);
}

.texto-habilidade {
    font-size: 0.85rem;
}

.selecioneHabilidade {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-esc);
    background-color: transparent;
    padding: 4px 30px;
    border-radius: 10px;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.icon-tag {
    font-size: 0.75rem;
}

.txt-label {
    font-family: "Poppins", sans-serif;
    color: var(--txt-sec-esc);
    font-size: 1.1rem;
    padding: 6px 10px;
    margin: 0;
}

.btn-form {
    background: linear-gradient(90deg, rgba(79, 2, 168, 1) 19%, rgba(0, 140, 255, 1) 100%);
    border: none;
    transition: transform 1s ease, filter .3s ease;
}

.btn-form:hover {
    filter: brightness(1.5);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .03), 0 2px 8px rgba(0, 0, 0, .18);
}

.container-btn {
    padding: 20px 0;
}

.btn-mais {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--title-claro);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: var(--txt-sec-esc);
    transition: transform 1s ease, filter .3s ease;
}

.btn-mais:hover {
    filter: brightness(1.5);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, .03), 0 2px 8px rgba(0, 0, 0, .18);
}

/* CARDS DE VAGAS */

.card {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    padding: 14px;
    border-radius: 18px;
    max-height: 300px;
}


.container-vagas {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.vagas-titulos {
    padding: 10px 0;
}

/* .destaque-job {
    width: 100%;
}
 */

.container-job {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.container-card {
    background: var(--gradiente-bg-escuro);
    border: 2px solid var(--gradiente-roxo);
    display: flex;
}

.container-destaque {
    padding: 10px 0;
    padding: 18px;
    border-radius: 18px;
    background: var(--gradiente-bg-destaque);
    border: 2px solid var(--gradiente-roxo);
}

.vagas-texto {
    text-align: center;
    color: var(--txt-sec-esc);
    font-size: 0.85rem;
    margin: 0
}


.job-card-sup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.logo-vaga img {
    height: 70px;
    width: 70px;
}

.job-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--txt-sec-esc);
}

.empresa {
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
}

.cargo-vaga {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--title-esc);
    margin: 0;
}

.infos-contrato {
    display: flex;
    gap: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.tag-vaga {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.7rem;
    letter-spacing: 0.025rem;
    font-weight: 500;
    padding: 4px 6px;
    border-radius: 6px;
}

.bg-modelo {
    background: var(--gradiente-roxo);
    color: var(--tag-txt);
}

.bg-salario {
    background: var(--gradiente-verde);
    color: #7ffda7;
}

.bg-contrato {
    background: var(--gradiente-laranja);
    color: #ffd415;
}

.container-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.skills-titulo {
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--txt-sec-esc);
    margin: 0;
}

.skills-vaga {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.75rem;
    border-radius: 6px;
}

.tag-skill {
    padding: 2px 4px;
    border-radius: 4px;
}

.skill-ok {
    background: var(--gradiente-verde);
    color: #7ffda7;
}

.skill-falta {
    background: var(--gradiente-vermelho);
    color: #ff8989;
}

.compatibilidade {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
}

.barra {
    width: 100%;
    margin: 0;
}

.barra-bg {
    background-color: var(--bg-escuro);
}

.barra-cor {
    background: var(--gradiente-roxo);
    padding: 4px;
}

.barra-destaque {
    background: var(--gradiente-laranja);
    background-color: #85541b;
}

.barra-txt {
    color: #bb8be9;
    font-weight: 500;
    display: flex;
}

.destaque-txt {
    color: #ffeaa6;
    font-weight: 500;
}

.comp-texto {
    font-size: 0.85rem;
    color: var(--txt-sec-esc);
    margin: 0;
}

.hidden {
    display: none;
}


.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-escuro) inset !important;
    -webkit-text-fill-color: var(--txt-sec-esc) !important;
    caret-color: var(--txt-sec-esc);
    transition: background-color 9999s ease-in-out 0s;
}

.rodape {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: solid 1px var(--tag-borda);
}

.rodape-txt {
    color: var(--tag-txt);
    padding: 20px 0;
    font-size: 0.85rem;
    letter-spacing: 0.15rem;
}

.link-rodape {
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid 0.1px var(--secundaria);
}

/* --------- RESPONSIVIDADE --------- */

@media (min-width: 768px) {

    .body-container {
        flex-direction: column;
        max-width: 1200px;
        margin: auto;
    }

    /* LOGO - NAV MENU */
    .menu img {
        width: 400px;
    }

    /* HERO */

    .hero-img {
        height: 200px;
    }

    .hero-mensagem {
        width: 70%;
    }

    .hero-titulo {
        font-size: 3rem;
        font-weight: 400;
        color: var(--title-esc);
    }

    .span-txt {
        font-size: 3rem;
        font-weight: 600;
        color: var(--secundaria);
    }

    .hero-texto {
        font-size: 1.4rem;
        color: var(--txt-sec-esc);
    }

    .hero {
        max-width: 800px;
        margin: auto;
    }

    /* FORMULARIO */

    .formulario {
        max-width: 800px;
        margin: auto;
    }

    .form-dados {
        flex-direction: row;
        width: 100%;
        gap: 20px;
    }

    #titulo-h2 {
        font-size: 2.4rem;

    }

    .icon-title {
        font-size: 2.4rem;
    }

    .txt-label {
        font-size: 1.2rem;
    }

    .form input,
    .form select {
        font-size: 1.2rem;
    }

    .texto-habilidade {
        font-size: 1.1rem;
    }

    .tags-habilidades {
        gap: 12px;
    }

    .btn-form {
        font-size: 2rem;
        padding: 10px 20px;
    }

    /* CARDS DESTAQUE / VAGAS */

    .job-card-sup {
        gap: 80px;
    }

    #section-destaque {
        max-width: 800px;
        margin: 0 auto;
    }

    #container-job {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        max-width: 800px;
    }

    .card {
        min-height: 260px;
    }

    .skills-titulo {
        font-size: 1rem;
        color: var(--txt-sec-esc);
        margin: 0;
    }

    .skills-vaga {
        gap: 4px;
        font-size: 0.9rem;
        border-radius: 6px;
    }

    .tag-skill {
        padding: 4px 8px;
        border-radius: 8px;
    }
}